.menu {
    background-color: var(--color0);
    font-size: 12px;
    min-width: 200px;
}

.menu input {
    width: 40px;
    padding: 0 5px;
    height: 16px;
    background-color: var(--color2);
    font: inherit;
}

.menu button:hover, .upload:hover {
    opacity: 0.6;
}

.steps {
    max-height: 300px;
    overflow-y: scroll;
    border-bottom: var(--border);
}

.stepWrap {
    position: relative;
}

.stepWrap:last-of-type .step {
    border: none;
}

.step {
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    border-bottom: var(--border);
}

.stepRow {
    display: flex;
    gap: var(--gap);
}

.duration {
    position: absolute;
    bottom: -8px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap);
    padding: 0 var(--gap);
    background-color: var(--color0);
}

.duration input {
    position: relative;
    text-align: right;
    z-index: 100;
}

.pointInput {
    display: flex;
    gap: var(--gap);
}

.icon {
    width: 15px;
    height: 15px;
    font-size: 10px;
    background-color: var(--color1);
    display: grid;
    place-items: center;
}

.addStep {
    background-color: var(--color1);
    font-size: 15px;
    width: 15px;
    height: 15px;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.upload {
    cursor: pointer;
}

.upload input {
    display: none;
}

.menuRow, .bottomControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--gap);
}

.bottomControls {
    font-size: 20px;
}

.fileControls {
    font-size: 18px;
    display: flex;
    gap: var(--gap);
}
