.wrap {
    position: relative;
    background-color: #111;
    padding: 10px;
}

.dropdown {
    padding: 5px;
}

.options {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y: scroll;
    color: #888;
}

.option {
    margin: 2px;
}

.selected {
    color: #888;
}

.reset {
    margin-left: 5px;
    color: #888;
}
