:root {
    --color0: #111;
    --color1: #222;
    --text0: #999;
    --border: 1px solid #555;
    --create-button-height: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #010101;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font: inherit;
    color: inherit;
}

input {
    background-color: transparent;
    border: none;
    font: inherit;
    color: inherit;
}

span {
    display: flex;
}
