@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

:root {
    --color0: #111;
    --color1: #222;
    --color2: #666;
    --text0: #999;
    --border: 1px solid #555;
    --gap: 5px;
    --create-button-height: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #010101;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    user-select: none;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font: inherit;
    color: inherit;
}

input {
    background-color: transparent;
    border: none;
    font: inherit;
    color: inherit;
}

span {
    display: flex;
}

input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
}

input[type="range"]::-ms-track {
    cursor: pointer;

    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 8px;
    border-radius: 0;
    background: #fff;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 8px;
    border-radius: 0;
    background: #fff;
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 8px;
    border-radius: 0;
    background: #fff;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 14px;
    cursor: pointer;
    background: transparent;
    border-radius: 0;
    border: var(--border);
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: transparent;
}

input[type="range"]::-moz-range-track {
    height: 12px;
    cursor: pointer;
    background: transparent;
    border-radius: 0;
    border: var(--border);
}

input[type="range"]::-ms-track {
    height: 14px;
    cursor: pointer;
    background: transparent;
    border-radius: 0;
    border: var(--border);
}

input[type="range"]::-ms-fill-lower {
    background: transparent;
    border-radius: 0;
    border: var(--border);
}

input[type="range"]:focus::-ms-fill-lower {
    background: transparent;
}

input[type="range"]::-ms-fill-upper {
    background: transparent;
    border-radius: 0;
    border: var(--border);
}

input[type="range"]:focus::-ms-fill-upper {
    background: transparent;
}
