.info {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    background-color: #111;
    padding: 10px;
    font-size: 12px;
}

.wrap:not(:first-of-type) {
    margin-top: 5px;
}

.label {
    text-transform: uppercase;
}

.label, .value, .name {
    line-height: 14px;
}

.value {
    color: var(--text0);
}

.hidden {
    display: none;
}

.swatch {
    width: 1em;
    height: 1em;
    margin-left: 5px;
}

.name {
    display: flex;
    align-items: center;
}

.nameLink {
    text-decoration: none;
    color: #99a;
}
