.info {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    background-color: #111;
    padding: 10px; font-size: 12px;
}

.info .wrap {
    margin: 5px;
}

.info .label {
    text-transform: uppercase;
    color: #888;
}

.hidden {
    display: none;
}
