.wrap {
    position: relative;
    padding-bottom: var(--create-button-height);
}

.inner {
    padding: 5px;
}

.header {
    text-transform: uppercase;
    height: 15px;
}

.header:not(:first-of-type) {
    margin-top: 5px;
}

.sphereCenter, .sphereRadius, .angleValue, .currFilter {
    color: var(--text0);
}

.angleValue {
    display: flex;
}

.angleValue > p, .sphereRadius > p {
    width: 50px;
}

.sphereCoords {
    display: flex;
}

.sphereCoords > * {
    margin-right: 10px;
}

.angleValue, .sphereRadius {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.angleValue > input, .sphereRadius > input {
    width: 150px;
}

.filterOptions {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y: scroll;
    color: var(--text0);
}

.filterOption {
    margin: 2px;
}

.filterReset {
    margin-left: 5px;
    color: #888;
}

.createButton {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--create-button-height);
    background-color: var(--color1);
    border-top: var(--border);
}
