.selectMenu {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    font-size: 12px;
}

.selectMenu > div {
    background-color: var(--color0);
    margin: 5px;
}

.header {
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

.createMenu {
    position: relative;
    min-width: 150px;
}

.createTabs {
    display: flex;
    border-top: var(--border);
    border-bottom: var(--border);
    background-color: var(--color1);
}

.createTabs > button {
    width: 33.33%;
    height: 30px;
}

.createTabs > button:not(:last-child) {
    border-right: var(--border);
}

.createTypesMenu {
    padding-bottom: var(--create-button-height);
}

.createButton {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--create-button-height);
    background-color: var(--color1);
    border-top: var(--border);
}

.viewMenu {
    min-width: 150px;
}

.selectionsList {
    border-top: var(--border);
    overflow-y: scroll;
    max-height: 250px;
    overflow-y: scroll;
}

.selectionView {
    display: flex;
    padding: 3px 10px;
    justify-content: space-between;
}

.selectionView > input {
    width: 80px;
}

.selectionViewOptions {
    width: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectionViewOptions > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
}

.selectionViewOptions > *[data-active="false"] {
    color: #777;
}
