.wrap {
    padding: 5px 10px 10px 10px;
}

.header {
    margin-top: 5px;
    text-transform: uppercase;
}

.sphereCenter, .sphereRadius, .angleValue {
    color: var(--text0);
}

.angleValue {
    display: flex;
}

.angleValue > p, .sphereRadius > p {
    width: 50px;
}

.sphereCoords {
    display: flex;
}

.sphereCoords > * {
    margin-right: 10px;
}

.angleValue, .sphereRadius {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.angleValue > input, .sphereRadius > input {
    width: 150px;
}
