.canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.resetCamera {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    padding: 10px;
    background-color: #111;
    color: var(--text0);
    text-transform: uppercase;
}
