.canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.menu {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.controls {
    position: relative;
    display: flex;
    gap: 5px;
    width: 230px;
}

.controls > * {
    padding: 10px 0;
    width: 50%;
    background-color: #111;
    color: var(--text0);
    text-transform: uppercase;
    font: inherit;
}
